@import "../../../../../assets/scss/main";

.projects-list {
  min-height: 80vh;
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;

  li {
    border-bottom: $gray-border;
    display: inline-flex;
    min-height: 90px;
    padding: 25px 0;
    list-style: none;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .projects-list-item-info {
    width: 80%;
  }

  h2 {
    color: $color-blue;
    font-size: 20px;
    margin-bottom: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-top: 5px;
    color: $color-dark-gray;
  }

  .messages {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
      text-align: center;
      color: $color-black;
    }

    &:hover {
      color:unset;
      text-decoration: unset;
    }

    .button {
      width: 35%;
      margin: 10px auto;
    }
  }
}
