@import "../../../../../assets/scss/main";

.search {
  margin: auto 0;
  position: relative;
  float: left;
  padding: 7px 12px;
  margin-left: 1px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  color: $color-blue;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: $color-white;
  border: $gray-border;
  height: 32px;
  min-width: 250px;
}
