$link-color: #02779E;
$badge-color: #354250;
$error-color: #C34444;
$warning-color: #DFBA57;
$success-color: #4AD964;
$repo-link-color: #bbdde1;
$nfq-main-color: #FF6B00;
$background-light-blue: #e1f4fd;
$color-white: #fff;
$color-danger: #ed1a3b;
$color-black: #000;

$box-shadow-button: 0 2px 1px rgba(0, 0, 0, 0.19), inset 0 1px rgba(255, 255, 255, 0.43);
$box-shadow-dark: 1px 1px 1px rgba(0, 0, 0, 0.25);
