$link-color: #02779E;
$badge-color: #354250;
$error-color: #C34444;
$warning-color: #DFBA57;
$default-success-color: #4AD964;
$repo-link-color: #bbdde1;
$nfq-main-color: #FF6B00;
$background-light-blue: #e1f4fd;
$color-white: #fff;
$color-danger: #ed1a3b;
$color-black: #000;
$color-light-gray: #e1e4e8;
$color-dark-gray: #586069;
$color-blue: #0366d6;

$gray-border: 1px solid $color-light-gray;
$dark-gray-border: 1px solid $color-light-gray;
$black-border: 1px solid $color-black;

$box-shadow-button: 0 2px 1px rgba(0, 0, 0, 0.19), inset 0 1px rgba(255, 255, 255, 0.43);
$box-shadow-dark: 1px 1px 1px rgba(0, 0, 0, 0.25);
