@import "../../../assets/scss/main";

.settings {
  width: 100%;
  margin: auto;

  .has-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .loader {
    margin: 20vh auto;
  }
}
