.per-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 15px;

  select {
    margin: auto 0;
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #0366d6;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    border: 1px solid #e1e4e8;
    height: 32px;
  }
}
