@import "../../../../assets/scss/main";

.auto-refresh {
  margin: auto 0 auto 5px;
  display: flex;
  flex-direction: row;

  input {
    margin: auto 0;
  }
}

.auto-refresh-time {
  max-height: 36px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  line-height: normal;
  color: $nfq-main-color;
  border: 1px solid $nfq-main-color;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  margin: 0 5px;

  &:hover {
    color: $color-white;
    border-color: $nfq-main-color;
    background-color: $nfq-main-color;
  }
}

