@import "../../assets/scss/main";

.edit-settings {
  margin: 100px auto;
  width: $width-xs;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: $box-shadow-dark;
  background-color: $background-light-blue;
  padding: 10px;

  h2 {
    text-align: center;
    color: $color-black;
  }

  .edit-settings-form {
    margin: auto;
  }

  .edit-settings-input-row {
    font-size: 15px;
    margin: 10px auto;

    input {
      margin: auto;
      min-width: 100px;
      left: 100px;
    }
  }


  .edit-settings-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
