@import "../../assets/scss/main";

.header {
  width: 100%;
  margin: 25px auto auto;
  display: flex;

  .header-toolset {
    display: inline-flex;
    padding: 15px 0;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    border-top: $gray-border;
    border-bottom: $gray-border;

    input {
      margin-right: 15px;
    }
  }

  .button {
    margin: auto 0;
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #0366d6;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //background: #fff;
    border: 1px solid #e1e4e8;
  }
}
