.pagination-control-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;

  .button {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;

    &:hover {
      background-color: #fafbfc;
      color: #0366d6;
      border: 1px solid #e1e4e8;
    }
  }

  .button,
  .pagination-indicator {
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #0366d6;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    border: 1px solid #e1e4e8;
  }
}
